@font-face {
	font-family: 'Roboto';
	src: local('Proxima Nova Extrabold Italic'), local('ProximaNova-ExtrabldIt'),
        url('../assets/fonts/ProximaNova-ExtrabldIt.woff2') format('woff2');
		font-weight: 800;
    font-style: normal;
}

